body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.loading {
  text-align: center;
}

#books tr > th:first-child {
  width: 100px !important;
}
#books tr > td:first-child {
  width: 100px !important;
}

#books img {
  height: 50px;
}
