.avt_edit {
  border-radius: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 84px;
  height: 84px;
  position: absolute;
  margin: 3px 0 0 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ava:hover .avt_edit, .ava:hover .avt_edit_icon {
  opacity: 1;
  visibility: visible;
}
a.avt_edit_icon, a.avt_edit_icon:hover, a.avt_edit_icon:focus {
  outline: none;
  text-decoration: none;
}
.avt_edit_icon:hover, .avt_edit_icon:hover:focus {
  background-color: #0e9e5e;
}
.ava {
  margin-top: 10px;
  position: relative;
}
.avt_edit_icon {
  visibility: hidden;
  opacity: 0;
  box-sizing: content-box!important;
  border-radius: 100%;
  padding: 8px;
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  position: absolute;
  line-height: normal;
  background-color: #27b475;
  color: #fff;
  border-color: #27b475;
  vertical-align: bottom;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  left: calc(50% - 14px);
  top: calc(50% - 14px);
}
.avt_edit_icon em {
  background-position: -160px -224px;
  height: 16px;
  width: 20px;
  background-image: url(../images/imgsprt-1.12.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: none;
  color: #fff;
}
.loading {
  text-align: center;
  display: none;
}