<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/user.css">
</head>
<body>
	<div class="container-fluid" style="position:relative;">
		<div class="row" id="header-row">
			<div class="container">
				<div id="profile">
					<div id="profile-information">
						<div id="profile-image">
							<p class="avt_edit trans">
								<a class="avt_edit_icon zmbtn3 cursor" title="Update avatar" onclick="change_avatar()">
									<em class="zmicn"></em>
								</a>
							</p>
						</div>
						<div id="profile-name" style="margin-bottom: 60px;">
							<p>akai-sama</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a title="Change background" class="editpfcover cursor" onclick="change_background()">
			<span>Change background</span>
			<em class="editpfcover_icn zmicn16"></em>
		</a>
	</div>
	<div class="container">
		<div id="setting">
			<div class="row">
				<div class="col-sm-10">
					<h2 style="font-weight:bold;">Settings</h2>
				</div>
				<div class="col-sm-2">
					<button class="edit btn" ng-click="edit()"><i class="fa fa-pencil-square-o"></i> Edit</button>
					<button class="save btn" ng-click="save()"><i class="fa fa-floppy-o"></i> Save</button>
				</div>
			</div>
			
			
		  	<form class="form-horizontal" role="form">
		  		<div class="col-sm-10 col-sm-offset-1">
		  			<div class="row">
			  			<span class="basic icon"></span>
			  			<div class="col-sm-10 col-sm-offset-1">
			  				<strong>Basic Infomation:</strong>
			  				<div class="form-group" style="margin-top:10px;">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Username</label>
			  					<div class="col-sm-10">
			  						<input type="text" class="form-control" value="Thanh Huy" readonly>
			  					</div>
				      		</div>
				      		<div class="form-group">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Password</label>
			  					<div class="col-sm-10">
			  						<input type="password" class="form-control" value="Thanh Huy" readonly>
			  					</div>
				      		</div>
				      		<div class="form-group" style="display: none;" id="re-pass">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Re-password</label>
			  					<div class="col-sm-10">
			  						<input type="password" class="form-control" value="Thanh Huy">
			  					</div>
				      		</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<span class="contact icon"></span>
			  			<div class="col-sm-10 col-sm-offset-1">
			  				<strong>Contact Infomation:</strong>
			  				<div class="form-group" style="margin-top:10px;">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Email</label>
			  					<div class="col-sm-10">
			  						<input type="email" class="form-control" value="huy@gmail.com" readonly>
			  					</div>
				      		</div>
				      		<div class="form-group">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Website</label>
			  					<div class="col-sm-10">
			  						<input type="text" class="form-control" value="www.huy.com.vn" readonly>
			  					</div>
				      		</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<span class="other icon"></span>
			  			<div class="col-sm-10 col-sm-offset-1">
			  				<strong>Other Infomation:</strong>
			  				<div class="form-group" style="margin-top:10px;">
			  					<label class="col-sm-2 control-label" style="text-align:left; color:gray;">Title</label>
			  					<div class="col-sm-10">
			  						<input type="text" class="form-control" value="Designer and Developer living in Ho Chi Minh City, Vietnam" readonly>
			  					</div>
				      		</div>
			  			</div>
			  		</div>
		  		</div>
		  	</form>
	  	</div>
	</div>

	<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vendor/request.js"></script>
	<script type="text/javascript" src="js/vendor/lockr.min.js"></script>
	<script type="text/javascript" src="js/user.js"></script>
</body>
</html>